:root {
  --primary-color: #3498db;
  --secondary-color: #04aa6d;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --border-color: #bdc3c7;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 15px;
  width: 300px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#fillFormsButton {
  background-color: var(--primary-color);
  color: white;
}

#fillFormsButton:hover {
  background-color: #2980b9;
}

#optionsButton {
  background-color: var(--secondary-color);
  color: white;
}

#optionsButton:hover {
  background-color: #27ae60;
}

#status {
  margin-top: 15px;
  text-align: center;
  font-style: italic;
  min-height: 20px; /* Garante espaço para a mensagem */
}

.titulo-popup {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #04aa6d;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button#trackFieldButton {
  background-color: #646464;
  color: rgb(255, 255, 255);
  border: none;
  width: 40px ;
  height: 36px;
  margin-left: 5px;
}
button#trackFieldButton:hover {
  background-color: #4d4d4d;
}
